
.bodycalc {
    background-color: rgb(61, 0, 118);
}

#titulo_calc {
    color:#fafafa;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.87rem;
    position: absolute;
    left: 50%;
    top: 14%;
    transform: translate(-50%);
    
}

.corpo_calc{
    background-color: #fafafa;
    width: 20rem;
    height: 20rem;
    border: 1px solid black;
    border-radius: 3%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 1.5rem 0.5rem;
}

.calculadora {
    margin-left: 1rem;
}

#visor {
    width: 16.8rem;
    height: 12rem;
    border: 1px solid black;
    padding: 0rem .5rem;
    overflow-y: scroll;
}